FlashBoard/bin-debug/FlashBoard.swf
*/.actionScriptProperties/
/.project
/.settings/
/.metadata
*/bin-debug/
*/libs/*.swf


NewsPlugin/html-template/swfobject.js
CalendarPlugin/.settings/org.eclipse.core.resources.prefs
CalendarPlugin/html-template/playerProductInstall.swf
NewsPlugin/html-template/playerProductInstall.swf
NewsPlugin/.settings/org.eclipse.core.resources.prefs
CalendarPlugin/html-template/
NewsPlugin/html-template/index.template.html
NewsPlugin/html-template/history/historyFrame.html
NewsPlugin/html-template/history/history.js
NewsPlugin/html-template/history/history.css
CalendarPlugin/.project
CalendarPlugin/.actionScriptProperties
NewsPlugin/.actionScriptProperties
NewsPlugin/.project
